mixin c-component-block(data)
	.component-block
		p.component-title Bootsrap select
		.component-inner
			.component-install
				p.install-title What to do:
				ol.install-list
					li bower install bootstrap-select --save
					li connect in main.js /* plugins */
						ul.install-sublist
							li //=include ../../dist/bower_components/popper.js/dist/umd/popper.min.js
							li //=include ../../dist/bower_components/bootstrap/js/dist/dropdown.js
							li //=include ../../dist/bower_components/bootstrap/js/dist/collapse.js
							li //=include ../../dist/bower_components/bootstrap-select/dist/js/bootstrap-select.js
					li uncomment in scss/_includes/libs/bootstrap/bootstrap.scss:
						ul.install-sublist
							li @import "../../../../../dist/bower_components/bootstrap/scss/transitions";
							li @import "../../../../../dist/bower_components/bootstrap/scss/dropdown";
			.component-result
				select.selectpicker
					option(value="1") Mustard
					option(value="1") Ketchup
					option(value="1") Barbecue
	.component-block
		p.component-title Burger menu
		.component-inner
			.component-install
				p.install-title What to do:
				ol.install-list
					//- li 
					//- li <code> class="burger-menu"</code>
					//- li <code><input type="checkbox" id="burger-checkbox"></code>
					//- li <code><label for="burger-checkbox" class="burger-label"></code>
					//- li <code><span></span></code>
					//- li <code><span></span></code>
					//- li <code><span></span></code>
					//- li <code></label></code>
					//- li <code></div></code>
			.component-result
				.burger-menu
					input#burger-checkbox(type="checkbox")
					label.burger-label(for="burger-checkbox")
						span
						span
						span