.l-wrapper{
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

.bootstrap-select {
	position: relative;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border: 1px solid rgba(0,0,0,.5);
	border-radius: 5px;
	&.show{
		.dropdown-toggle{
			&:after{
				transform: translate(0, -50%) rotate(-180deg);
			}
		}
		.btn-light{
			background-color: transparent;
		}
	}
	& > select {
		width: 0 !important;
		visibility: hidden;
		left: 0;
		height: 0;
		position: absolute;
	}
	.dropdown-toggle {
		width: 100%;
		padding: 0 20px;
		border-radius: inherit;
		height: 100%;
		vertical-align: top;
		&::after {
			content: '';
			width: 10px;
			height: 6px;
			display: block;
			top: 50%;
			transform: translate(0, -50%) rotate(0deg);
			right: 14px;
			position: absolute;
			border: none !important;
			background-image: url(../../s/images/useful/chevron.png);
			background-repeat: no-repeat;
			transition: transform 0.3s ease;
		}
	}
	& > .dropdown-menu {
		box-shadow: 0 1px 8px rgba(0, 0, 0, 0.16);
		background-color: white;
		margin-top: 5px;
		width: 100%;
		border: none;
		padding: 0;
		transform: translate3d(0, 4.5rem, 0px)!important;

		.inner {
			border: 1px solid rgba(0,0,0,.5);
			position: relative;
			width: 100%;
			margin: 0;
		}
		& > .inner {
			display: block;
			background-color: transparent !important;
			position: relative;
			padding-bottom: 0;
			box-shadow: none;
			font-weight: 400;
			line-height: 1.2;
			font-size: 14px;
			padding-top: 0;
			margin-top: 0;
			border: 0;

			& > li {
				&.selected {
					a {
						background-color: #f2f2f2;
						color: #9bb3d2;
					}
				}
				a {
					text-decoration: none;
					padding: 11px 15px;
					cursor: pointer;
					display: block;
					color: inherit;
				}
			}
		}
	}
	.filter-option-inner-inner {
		display: flex;
		align-items: center;
		font-weight: 400;
		line-height: 1;
		font-size: 15px;
		color: #000;
		margin-right: 10px;
		transition: color 0.3s ease;
	}
	.dropdown-item.active, .dropdown-item:active {
		background-color: #f5f6f7;
		.text {
			color: #000;
		}
	}
	.dropdown-item {
		cursor: pointer;
		padding: 9px 20px;
		text-decoration: none;
		transition: background-color 0.3s ease;
		&:focus {
			outline: none;
		}
		.text{
			color: #000;
			font-size: 1.5rem;
		}
		&:hover {
			background-color: #f5f6f7;
			.text {
				color: #000;
			}
		}
		&:not(:last-child) {
			border: 1px solid black;
		}
	}
}