extends _includes/_extends/main

include _includes/components/c-component-block/c-component-block

block head
	+head({'title': 'Components'})

block content
	.container
		.component-wrapper
			.component-search-wrap
				input.component-search(type="text", placeholder="Type a component name")
			+c-component-block()