extends _includes/_extends/main

include _includes/components/c-component-block/c-component-block

block head
	+head({'title': 'Components'})

block content
	.container
		.component-wrapper
			+c-component-block()