mixin c-modal(data)
	.fade.modal.js-modal(tabindex='-1', role='dialog', aria-hidden='true', id='my_modal')
		.modal-dialog.modal-dialog-centered(role='document')
			.container
				.modal-content
					p My Modal Window